# **Tarea 3: Fusion de datos**

Nombre: Ibañez Guzman Osvaldo

No. Cuenta: 316058672

Email: osva552920@gmail.com

**Objetivo:** Hacer una fusión de datos a través de un algoritmo de aprendizaje automático.

**Fuente de datos**
Datos sobre retinopatia diabetica, tomados con sensores diferentes

### **Importar las bibliotecas y los datos**

In [38]:
import pandas as pd               # Para la manipulación y análisis de datos
import numpy as np                # Para crear vectores y matrices n dimensionales
import matplotlib.pyplot as plt   # Para la generación de gráficas a partir de los datos
import seaborn as sns             # Para la visualización de datos basado en matplotlib
%matplotlib inline

In [39]:
DatosDiabetes = pd.read_csv("DiabeticRetinopathy.csv")
DatosDiabetes

,patient,patient.number,obs,health.status,group,f_000001,f_000002,f_000003,f_000004,f_000005,...,f_000061,f_000062,f_000063,f_000064,f_000065,f_000066,f_000067,f_000068,f_000069,f_000070
0,paciente151_1,151,1,health,none,2150.745881,1812.296506,1797.425232,2000.402651,2096.775161,...,3.332748,3.480402,3.854307,5.245511,9.215420,15.686887,20.877630,21.301055,17.878146,13.799770
1,paciente411hpf0.3hzmedian_6,411,6,health,none,201.462060,227.196312,239.527682,242.712595,233.877109,...,15.576554,16.825167,18.315843,20.076293,21.848763,23.448133,24.781314,25.852985,26.772444,27.510021
2,paciente237hpf0.3hzmedian_4,237,4,disorder,none,57.266926,42.895909,37.259729,34.940005,31.036661,...,34.657351,34.727477,35.977187,38.361017,41.693322,45.194320,47.899705,49.562395,50.450740,50.533996
3,paciente116hpf0.3hzmedian_7,116,7,health,none,229.556540,218.015928,229.962008,214.427812,169.474568,...,18.014346,20.047497,22.536181,25.359234,28.353100,31.507935,34.888351,38.140906,40.915108,43.514155
4,paciente131_2,131,2,health,none,94.251665,96.188890,101.315349,102.756134,99.327028,...,7.042471,7.696502,8.379038,8.982337,9.471419,9.876325,10.282313,10.735607,11.146974,11.359566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107,paciente396hpf0.3hzmedian_5,396,5,health,none,26.918454,30.309754,32.370351,33.266800,34.510788,...,3.341653,3.410566,3.541230,3.752837,3.991767,4.186375,4.322308,4.465974,4.699261,5.044514
1108,paciente412hpf0.3hzmedian_3,412,3,health,none,444.511027,430.493455,419.294383,427.814583,464.004222,...,14.687543,16.202893,17.692761,19.226280,21.524516,24.649297,26.917099,26.890498,25.170626,23.127421
1109,paciente398hpf0.3hzmedian_7,398,7,health,none,253.650671,337.009270,426.335102,487.426947,525.123416,...,2.039017,2.153674,2.299899,2.457559,2.662999,2.969399,3.374929,3.818873,4.224368,4.547494
1110,paciente370hpf0.3hzmedian_6,370,6,health,none,1322.642976,1282.723175,1302.099324,1320.569524,1337.036977,...,23.274529,24.340751,25.133467,25.785277,26.281525,26.752091,27.452770,28.444717,29.522745,30.401168
1111,paciente406hpf0.3hzmedian_5,406,5,health,none,216.230758,232.530608,224.562959,191.119087,148.402577,...,1.830778,1.825944,1.949856,2.261641,2.608835,2.799783,2.808860,2.746011,2.729407,2.851936

Descripción: 

* Patient: Nombre del paciente
* Patient.number: Número de identificación del paciente
* Helth.status: Estado de salud
* Group: Grupo al que pertenece
* f_000001 - f_000070: Valores leidos por los sensores

### **Descripción de la estructura de los datos**

Se puede usar **info()** para obtener el tipo de datos y la suma de valores nulos. Se observa que los datos son numéricos (flotante y entero).

In [40]:
DatosDiabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 75 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   patient         1112 non-null   object
 1   patient.number  1112 non-null   int64
 2   obs             1112 non-null   int64
 3   health.status   1112 non-null   object
 4   group           1112 non-null   object
 5   f_000001        1112 non-null   float64
 6   f_000002        1112 non-null   float64
 7   f_000003        1112 non-null   float64
 8   f_000004        1112 non-null   float64
 9   f_000005        1112 non-null   float64
 10  f_000006        1112 non-null   float64
 11  f_000007        1112 non-null   float64
 12  f_000008        1112 non-null   float64
 13  f_000009        1112 non-null   float64
 14  f_000010        1112 non-null   float64
 15  f_000011        1112 non-null   float64
 16  f_000012        1112 non-null   float64
 17  f_000013        1112 non-null   float64
 18  f_000014        1112 non-null   float64
 19  f_000015        1112 non-null   float64
 20  f_000016        1112 non-null   float64
 21  f_000017        1112 non-null   float64
 22  f_000018        1112 non-null   float64
 23  f_000019        1112 non-null   float64
 24  f_000020        1112 non-null   float64
 25  f_000021        1112 non-null   float64
 26  f_000022        1112 non-null   float64
 27  f_000023        1112 non-null   float64
 28  f_000024        1112 non-null   float64
 29  f_000025        1112 non-null   float64
 30  f_000026        1112 non-null   float64
 31  f_000027        1112 non-null   float64
 32  f_000028        1112 non-null   float64
 33  f_000029        1112 non-null   float64
 34  f_000030        1112 non-null   float64
 35  f_000031        1112 non-null   float64
 36  f_000032        1112 non-null   float64
 37  f_000033        1112 non-null   float64
 38  f_000034        1112 non-null   float64
 39  f_000035        1112 non-null   float64
 40  f_000036        1112 non-null   float64
 41  f_000037        1112 non-null   float64
 42  f_000038        1112 non-null   float64
 43  f_000039        1112 non-null   float64
 44  f_000040        1112 non-null   float64
 45  f_000041        1112 non-null   float64
 46  f_000042        1112 non-null   float64
 47  f_000043        1112 non-null   float64
 48  f_000044        1112 non-null   float64
 49  f_000045        1112 non-null   float64
 50  f_000046        1112 non-null   float64
 51  f_000047        1112 non-null   float64
 52  f_000048        1112 non-null   float64
 53  f_000049        1112 non-null   float64
 54  f_000050        1112 non-null   float64
 55  f_000051        1112 non-null   float64
 56  f_000052        1112 non-null   float64
 57  f_000053        1112 non-null   float64
 58  f_000054        1112 non-null   float64
 59  f_000055        1112 non-null   float64
 60  f_000056        1112 non-null   float64
 61  f_000057        1112 non-null   float64
 62  f_000058        1112 non-null   float64
 63  f_000059        1112 non-null   float64
 64  f_000060        1112 non-null   float64
 65  f_000061        1112 non-null   float64
 66  f_000062        1112 non-null   float64
 67  f_000063        1112 non-null   float64
 68  f_000064        1112 non-null   float64
 69  f_000065        1112 non-null   float64
 70  f_000066        1112 non-null   float64
 71  f_000067        1112 non-null   float64
 72  f_000068        1112 non-null   float64
 73  f_000069        1112 non-null   float64
 74  f_000070        1112 non-null   float64
dtypes: float64(70), int64(2), object(3)
memory usage: 651.7+ KB

In [41]:
DatosDiabetes.describe()

,patient.number,obs,f_000001,f_000002,f_000003,f_000004,f_000005,f_000006,f_000007,f_000008,...,f_000061,f_000062,f_000063,f_000064,f_000065,f_000066,f_000067,f_000068,f_000069,f_000070
count,1112.000000,1112.000000,1112.000000,1112.000000,1112.000000,1112.000000,1112.000000,1112.000000,1112.000000,1112.000000,...,1.112000e+03,1.112000e+03,1.112000e+03,1.112000e+03,1.112000e+03,1.112000e+03,1.112000e+03,1.112000e+03,1.112000e+03,1.112000e+03
mean,270.146583,3.856115,2016.799777,1903.097887,1802.860053,1720.894230,1663.336937,1627.622311,1597.457359,1561.603520,...,5.620728e+02,5.268927e+02,4.856362e+02,4.562636e+02,4.434820e+02,4.398660e+02,4.334379e+02,4.166063e+02,3.911023e+02,3.650029e+02
std,149.109867,2.121210,5623.463873,5942.420044,6392.486618,6290.537508,5645.872733,5062.374533,4858.983308,4805.405693,...,5.225834e+03,4.709330e+03,4.229311e+03,4.073566e+03,4.076967e+03,3.946923e+03,3.688649e+03,3.410182e+03,3.063764e+03,2.656352e+03
min,12.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6.020000e-60,5.780000e-60,7.230000e-60,7.630000e-60,6.080000e-60,3.750000e-60,1.870000e-60,7.870000e-61,2.910000e-61,9.780000e-62
25%,143.000000,2.000000,94.595032,95.339032,93.371658,88.078723,83.469282,79.522746,75.171477,71.717748,...,2.859505e+00,2.983129e+00,3.322606e+00,3.891821e+00,4.564573e+00,5.046256e+00,5.446277e+00,5.763030e+00,5.765531e+00,5.768648e+00
50%,261.500000,4.000000,328.782783,310.667368,292.058260,275.527480,271.010004,267.470694,260.898003,255.150837,...,8.423920e+00,8.977666e+00,9.741452e+00,1.117428e+01,1.340485e+01,1.534127e+01,1.641342e+01,1.728839e+01,1.747099e+01,1.660368e+01
75%,390.250000,6.000000,1332.124207,1250.079057,1168.506726,1113.418396,1045.604225,1007.341541,985.209478,945.582122,...,2.857576e+01,2.869736e+01,3.104263e+01,3.524946e+01,3.987672e+01,4.766970e+01,5.485603e+01,5.769738e+01,5.646472e+01,5.252793e+01
max,709.000000,16.000000,83032.903920,115217.305100,143934.423200,146001.297100,121126.243000,87568.449470,64605.600060,65526.717950,...,1.091849e+05,9.006676e+04,6.660087e+04,7.586677e+04,8.139030e+04,7.718928e+04,6.352670e+04,6.939803e+04,6.937636e+04,6.170293e+04

* Se incluye un recuento, media, desviación, valor mínimo, valor máximo, percentil inferior (25%), 50% y percentil superior (75%).
* Por defecto, el percentil 50 es lo mismo que la mediana.
* Se observa que para cada variable, el recuento también ayuda a identificar variables con valores nulos o vacios. Estos son: **Dividends** y **Stock Splits**.

### Fusion de datos mediante algoritmos de ML

In [43]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, max_error, r2_score

In [44]:
Y_train1=np.array(Fusion[['f_000001']])
Y_train2=np.array(Fusion[['f_000011']])
Y_train3=np.array(Fusion[['f_000021']])
Y_train4=np.array(Fusion[['f_000031']])
Y_train5=np.array(Fusion[['f_000041']])
Y_train6=np.array(Fusion[['f_000051']])
Y_train7=np.array(Fusion[['f_000061']])

In [45]:
X_train1=np.array(Fusion[['f_000002','f_000003','f_000004','f_000005','f_000006','f_000007','f_000008','f_000009','f_000010']])
X_train2=np.array(Fusion[['f_000012','f_000013','f_000014','f_000015','f_000016','f_000017','f_000018','f_000019','f_000020']])
X_train3=np.array(Fusion[['f_000022','f_000023','f_000024','f_000025','f_000026','f_000027','f_000028','f_000029','f_000030']])
X_train4=np.array(Fusion[['f_000032','f_000033','f_000034','f_000035','f_000036','f_000037','f_000038','f_000039','f_000040']])
X_train5=np.array(Fusion[['f_000042','f_000043','f_000044','f_000045','f_000046','f_000047','f_000048','f_000049','f_000050']])
X_train6=np.array(Fusion[['f_000052','f_000053','f_000054','f_000055','f_000056','f_000057','f_000058','f_000059','f_000060']])
X_train7=np.array(Fusion[['f_000062','f_000063','f_000064','f_000065','f_000066','f_000067','f_000068','f_000069','f_000070']])

**Primer Bloque**

In [62]:
FusionLineal = linear_model.LinearRegression()
FusionLineal.fit(X_train1, Y_train1) 
Y_estimacion1 = FusionLineal.predict(X_train1)
pd.DataFrame(Y_estimacion1)
Y_res1 = pd.DataFrame(Y_train1).rename(columns={0:'f_000001'})
Y_res1['FusionLineal'] = Y_estimacion1
Y_res1

         f_000001  FusionLineal
0     2150.745881   2143.555719
1      201.462060    207.552712
2       57.266926     64.203471
3      229.556540    222.493148
4       94.251665    102.222738
...           ...           ...
1107    26.918454     35.436919
1108   444.511027    460.918639
1109   253.650671    262.839777
1110  1322.642976   1366.771132
1111   216.230758    224.095823

[1112 rows x 2 columns]

In [47]:
print('Coeficientes: \n', FusionLineal.coef_)
print('Intercepto: \n', FusionLineal.intercept_)
print("Residuo: %.4f" % max_error(Y_train1, Y_estimacion1))
print("MSE: %.4f" % mean_squared_error(Y_train1, Y_estimacion1))
print("RMSE: %.4f" % mean_squared_error(Y_train1, Y_estimacion1, squared=False))  #True devuelve MSE, False devuelve RMSE
print('Score (Bondad de ajuste): %.4f' % r2_score(Y_train1, Y_estimacion1))

Coeficientes:
 [[  4.80053269 -11.57139106  18.55449899 -21.96426471  20.13030147
  -14.41376425   7.92198903  -3.12289774   0.66129766]]
Intercepto:
 [8.71819797]
Residuo: 941.0289
MSE: 6538.8115
RMSE: 80.8629
Score (Bondad de ajuste): 0.9998

**Segundo Bloque**

In [48]:
FusionLineal = linear_model.LinearRegression()
FusionLineal.fit(X_train2, Y_train2) 
Y_estimacion2 = FusionLineal.predict(X_train2)
pd.DataFrame(Y_estimacion2)
Y_res2 = pd.DataFrame(Y_train2).rename(columns={0:'f_000002'})
Y_res2['FusionLineal'] = Y_estimacion2
Y_res2

        f_000002  FusionLineal
0     844.858268    855.239840
1     296.698397    301.619377
2      11.138035     11.832930
3      79.388782     79.974980
4      66.385228     66.959887
...          ...           ...
1107   57.549711     59.445989
1108  354.442472    350.649290
1109  595.371016    588.739834
1110  936.954768    918.113405
1111  127.542226    126.715501

[1112 rows x 2 columns]

In [49]:
print('Coeficientes: \n', FusionLineal.coef_)
print('Intercepto: \n', FusionLineal.intercept_)
print("Residuo: %.4f" % max_error(Y_train2, Y_estimacion2))
print("MSE: %.4f" % mean_squared_error(Y_train2, Y_estimacion2))
print("RMSE: %.4f" % mean_squared_error(Y_train2, Y_estimacion2, squared=False))  #True devuelve MSE, False devuelve RMSE
print('Score (Bondad de ajuste): %.4f' % r2_score(Y_train2, Y_estimacion2))

Coeficientes:
 [[  4.79275648 -11.11596539  16.89583208 -18.72293033  15.42362268
   -9.14711521   3.49309089  -0.52428316  -0.09269177]]
Intercepto:
 [0.8407671]
Residuo: 1270.5264
MSE: 4491.3888
RMSE: 67.0178
Score (Bondad de ajuste): 0.9998

**Tercer Bloque**

In [50]:
FusionLineal = linear_model.LinearRegression()
FusionLineal.fit(X_train3, Y_train3) 
Y_estimacion3 = FusionLineal.predict(X_train3)
pd.DataFrame(Y_estimacion3)
Y_res3 = pd.DataFrame(Y_train3).rename(columns={0:'f_000003'})
Y_res3['FusionLineal'] = Y_estimacion3
Y_res3

        f_000003  FusionLineal
0     133.676555    132.047779
1     146.568303    146.947656
2       5.057278      7.962395
3      29.220098     32.478996
4      74.089783     77.152015
...          ...           ...
1107   28.053109     30.097125
1108  350.849196    348.505223
1109  254.576442    253.447084
1110  585.882022    574.649472
1111   52.514265     54.911389

[1112 rows x 2 columns]

In [51]:
print('Coeficientes: \n', FusionLineal.coef_)
print('Intercepto: \n', FusionLineal.intercept_)
print("Residuo: %.4f" % max_error(Y_train3, Y_estimacion3))
print("MSE: %.4f" % mean_squared_error(Y_train3, Y_estimacion3))
print("RMSE: %.4f" % mean_squared_error(Y_train3, Y_estimacion3, squared=False))  #True devuelve MSE, False devuelve RMSE
print('Score (Bondad de ajuste): %.4f' % r2_score(Y_train3, Y_estimacion3))

Coeficientes:
 [[  4.40091604 -10.33564733  17.34028365 -22.90621138  24.63812757
  -21.06927013  13.5382593   -6.06804116   1.4666983 ]]
Intercepto:
 [3.0104504]
Residuo: 774.7812
MSE: 2732.2738
RMSE: 52.2712
Score (Bondad de ajuste): 1.0000

**Cuarto Bloque**

In [52]:
FusionLineal = linear_model.LinearRegression()
FusionLineal.fit(X_train4, Y_train4) 
Y_estimacion4 = FusionLineal.predict(X_train4)
pd.DataFrame(Y_estimacion4)
Y_res4 = pd.DataFrame(Y_train4).rename(columns={0:'f_000004'})
Y_res4['FusionLineal'] = Y_estimacion4
Y_res4

        f_000004  FusionLineal
0      14.852367     13.604921
1      59.985605     57.401275
2       2.613416      1.845556
3       9.752962      8.836480
4      49.584232     48.261049
...          ...           ...
1107    7.082412      6.176952
1108  133.830701    131.814265
1109   49.315054     47.678920
1110  167.683163    167.829162
1111   19.077191     18.038816

[1112 rows x 2 columns]

In [53]:
print('Coeficientes: \n', FusionLineal.coef_)
print('Intercepto: \n', FusionLineal.intercept_)
print("Residuo: %.4f" % max_error(Y_train4, Y_estimacion4))
print("MSE: %.4f" % mean_squared_error(Y_train4, Y_estimacion4))
print("RMSE: %.4f" % mean_squared_error(Y_train4, Y_estimacion4, squared=False))  #True devuelve MSE, False devuelve RMSE
print('Score (Bondad de ajuste): %.4f' % r2_score(Y_train4, Y_estimacion4))

Coeficientes:
 [[  5.4646621  -13.951182    22.56598364 -26.52126458  24.26983
  -17.98200565  11.14124061  -5.64728287   1.68903185]]
Intercepto:
 [-0.86787093]
Residuo: 852.1279
MSE: 3261.5737
RMSE: 57.1102
Score (Bondad de ajuste): 1.0000

**Quinto Bloque**

In [54]:
FusionLineal = linear_model.LinearRegression()
FusionLineal.fit(X_train5, Y_train5) 
Y_estimacion5 = FusionLineal.predict(X_train5)
pd.DataFrame(Y_estimacion5)
Y_res5 = pd.DataFrame(Y_train5).rename(columns={0:'f_000005'})
Y_res5['FusionLineal'] = Y_estimacion5
Y_res5

       f_000005  FusionLineal
0      6.923552      7.137405
1     11.909529     12.297005
2      1.470060      0.878202
3      5.960877      5.841531
4     26.900017     27.593725
...         ...           ...
1107   1.582758      1.546105
1108   9.708407      9.781487
1109  11.051755     11.361666
1110  38.731026     38.292359
1111   4.963137      5.098913

[1112 rows x 2 columns]

In [55]:
print('Coeficientes: \n', FusionLineal.coef_)
print('Intercepto: \n', FusionLineal.intercept_)
print("Residuo: %.4f" % max_error(Y_train5, Y_estimacion5))
print("MSE: %.4f" % mean_squared_error(Y_train5, Y_estimacion5))
print("RMSE: %.4f" % mean_squared_error(Y_train5, Y_estimacion5, squared=False))  #True devuelve MSE, False devuelve RMSE
print('Score (Bondad de ajuste): %.4f' % r2_score(Y_train5, Y_estimacion5))

Coeficientes:
 [[  5.54455988 -14.27169415  25.14439238 -34.3951246   37.28287263
  -31.29292898  18.56014153  -6.2489735    0.64064318]]
Intercepto:
 [0.04851217]
Residuo: 454.1070
MSE: 952.8708
RMSE: 30.8686
Score (Bondad de ajuste): 1.0000

**Sexto Bloque**

In [56]:
FusionLineal = linear_model.LinearRegression()
FusionLineal.fit(X_train6, Y_train6) 
Y_estimacion6 = FusionLineal.predict(X_train6)
pd.DataFrame(Y_estimacion6)
Y_res6 = pd.DataFrame(Y_train6).rename(columns={0:'f_000006'})
Y_res6['FusionLineal'] = Y_estimacion6
Y_res6

       f_000006  FusionLineal
0      1.204269      0.374534
1      3.582889      3.037625
2      8.379165      8.506977
3      7.939512      7.455433
4      6.171104      5.459249
...         ...           ...
1107   2.022155      1.223596
1108   4.369374      3.755182
1109   2.066788      1.214367
1110  12.595333     12.180500
1111   1.201846      0.323783

[1112 rows x 2 columns]

In [57]:
print('Coeficientes: \n', FusionLineal.coef_)
print('Intercepto: \n', FusionLineal.intercept_)
print("Residuo: %.4f" % max_error(Y_train6, Y_estimacion6))
print("MSE: %.4f" % mean_squared_error(Y_train6, Y_estimacion6))
print("RMSE: %.4f" % mean_squared_error(Y_train6, Y_estimacion6, squared=False))  #True devuelve MSE, False devuelve RMSE
print('Score (Bondad de ajuste): %.4f' % r2_score(Y_train6, Y_estimacion6))

Coeficientes:
 [[  5.86112328 -15.7978905   26.87635334 -33.12216776  31.35440186
  -22.8166342   11.93130277  -3.89168502   0.61981746]]
Intercepto:
 [-0.91251747]
Residuo: 122.1228
MSE: 81.0466
RMSE: 9.0026
Score (Bondad de ajuste): 1.0000

**Septimo Bloque**

In [58]:
FusionLineal = linear_model.LinearRegression()
FusionLineal.fit(X_train7, Y_train7) 
Y_estimacion7 = FusionLineal.predict(X_train7)
pd.DataFrame(Y_estimacion7)
Y_res7 = pd.DataFrame(Y_train7).rename(columns={0:'f_000007'})
Y_res7['FusionLineal'] = Y_estimacion7
Y_res7

       f_000007  FusionLineal
0      3.332748      3.176296
1     15.576554     15.866286
2     34.657351     34.821010
3     18.014346     17.778700
4      7.042471      6.933479
...         ...           ...
1107   3.341653      3.216594
1108  14.687543     14.705759
1109   2.039017      1.874222
1110  23.274529     23.355598
1111   1.830778      1.709971

[1112 rows x 2 columns]

In [59]:
print('Coeficientes: \n', FusionLineal.coef_)
print('Intercepto: \n', FusionLineal.intercept_)
print("Residuo: %.4f" % max_error(Y_train7, Y_estimacion7))
print("MSE: %.4f" % mean_squared_error(Y_train7, Y_estimacion7))
print("RMSE: %.4f" % mean_squared_error(Y_train7, Y_estimacion7, squared=False))  #True devuelve MSE, False devuelve RMSE
print('Score (Bondad de ajuste): %.4f' % r2_score(Y_train7, Y_estimacion7))

Coeficientes:
 [[  5.67157617 -14.58501977  22.87103045 -25.47551675  21.82257052
  -14.17047832   6.36339438  -1.66517458   0.17236442]]
Intercepto:
 [-0.18813974]
Residuo: 134.1997
MSE: 125.2841
RMSE: 11.1930
Score (Bondad de ajuste): 1.0000